name: React build
on: 
  push:                              
    branches: [ action ] # action Branch에서 push 이벤트가 일어났을 때만 실행

jobs:
  build:
    runs-on: [ubuntu-latest]
    steps:
      - name: Checkout source code.   # 레포지토리 체크아웃
        uses: actions/checkout@v2
        
      - uses: borales/actions-yarn@v2.3.0
        with:
          cmd: install # yarn install
       
      - name: yarn 버전 확인
        run: yarn --version 

      - name: 빌드하기  
        uses: borales/actions-yarn@v2.3.0
        with:
          cmd: build # yarn build

      - name: 빌드 확인
        run: ls -a

      - name: S3 삭제하기
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        run: aws s3 rm s3://bookpie --recursive 

      - name: S3 배포하기
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        run: aws s3 cp --recursive --region ap-northeast-2 build s3://bookpie  
      